asgiref==3.8.1
Django==5.0.4
djangorestframework==3.15.1
sqlparse==0.5.0
requests==2.31.0
dj-database-url==2.1.0
pillow==10.3.0
psycopg2-binary==2.9.9
gunicorn==22.0.0
drf-yasg==1.21.7
django-cors-headers==3.10.1
aiogram~=3.6.0